eventkit==1.0.3
exchange_calendars==4.6
ib_async==1.0.3
korean-lunar-calendar==0.3.1
nest-asyncio==1.6.0
numpy==2.2.0
pandas==2.2.3
pandas_market_calendars==4.4.2
pandas_ta==0.3.14b0
pyluach==2.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
setuptools==75.6.0
six==1.17.0
timedelta==2020.12.3
toolz==1.0.0
tzdata==2024.2
google==3.0.0
google-api-core==2.24.0
google-api-python-client==2.158.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.66.0